@use 'styles/constants/colors' as color;

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;

  & label {
    font-size: 12px;
    color: color.$GRAY6;
    letter-spacing: 0.1px;
  }

  .input {
    width: 280px;
    height: 36px;
    padding: 0 8px;
    border: 1px solid color.$GRAY6;
    border-radius: 4px;

    &::placeholder {
      letter-spacing: 0.4px;
    }

    &.valid {
      border-color: color.$BLUE6;
    }

    &.invalid {
      border-color: color.$RED6;
    }
  }
}
