$WHITE: #fdfdfd;
$PURE_WHITE: #ffffff;
$BLACK: #0e1111;

$GRAY1: #f8f9fa;
$GRAY2: #f1f3f5;
$GRAY3: #e9ecef;
$GRAY4: #dee2e6;
$GRAY5: #ced4da;
$GRAY6: #adb5bd;

$RED1: #ffa8a8;
$RED2: #ff6b6b;
$RED3: #fa5252;
$RED4: #f03e3e;
$RED5: #e03131;
$RED6: #c92a2a;

$INDIGO1: #bac8ff;
$INDIGO2: #748ffc;
$INDIGO3: #4c6ef5;
$INDIGO4: #4263eb;
$INDIGO5: #3b5bdb;
$INDIGO6: #364fc7;

$BLUE1: #e7f5ff;
$BLUE2: #d0ebff;
$BLUE3: #a5d8ff;
$BLUE4: #4dabf7;
$BLUE5: #339af0;
$BLUE6: #1c7ed6;

$TEAL1: #e6fcf5;
$TEAL2: #96f2d7;
$TEAL3: #63e6be;
$TEAL4: #38d9a9;
$TEAL5: #20c997;
$TEAL6: #12b886;

$GREEN1: #ebfbee;
$GREEN2: #d3f9d8;
$GREEN3: #8ce99a;
$GREEN4: #69db7c;
$GREEN5: #51cf66;
$GREEN6: #40c057;

$YELLOW1: #fff9db;
$YELLOW2: #ffec99;
$YELLOW3: #ffe066;
$YELLOW4: #fcc419;
$YELLOW5: #fab005;
$YELLOW6: #f59f00;

$ORANGE1: #fff4e6;
$ORANGE2: #ffd8a8;
$ORANGE3: #ffa94d;
$ORANGE4: #ff922b;
$ORANGE5: #fd7e14;
$ORANGE6: #f76707;
